.home-style {
    direction: rtl;
    color: white;
    padding: 120px 0 162px 0;
    background-size: cover !important;
}
.form-site {
    padding: 15px;
    border: 2px solid aliceblue;
    border-radius: 25px;
    box-shadow: 0 3px 9px 0 rgba(0, 0, 0, 0.3);
    background: #0000005c;
}
.form-control {
    border-radius: 23px !important;
    margin: 11px 0 0 0 !important;
}
#fma {
    width: 100%;
    height: auto;
    border: outset 5px aqua;
    border-radius: 17px 14px 17px 0;
}
 .tooltip {
  position: relative;
  display: inline-block;
}
#myform {
    line-height: 30px;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
#actions {
    float: left !important;
}
#header {
    height: 90px !important;
    background-color: #2128bd !important;
    direction: rtl !important;
}
.hero-section, .hero-section > .container > .row {
    min-height: 90px !important;
    height: unset !important;
}
.btn-info {
    padding: 10px 20px 10px 20px !important;
    border-radius: 33px !important;
    margin: 8px 0 0 0 !important;
    color: white !important;
    background: #2128bd !important;
}
.btn-success {
    padding: 10px 20px 10px 20px !important;
    border-radius: 33px !important;
    margin: 8px 0 0 0 !important;
    color: white !important;
    background: #4c4582 !important;
}
small {
    color: white !important;
}
.help-div {
    direction: rtl;
    color: black !important;
    padding: 124px 0 0 0;
}
.step {
    border: dashed 6px #1c398c;
    border-radius: 93px;
}
.footer {
    padding: unset !important;
}
.logo {
    line-height: 32px !important;
}